* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Century Gothic', Courier New, Courier, monospace;
}
.portfolio {
    height: 100%;
    width: 100%;
    color: #242424;
}
.portfolio-container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 24px 32px;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    color: #242424;
}
.portfolio-header-image {
    max-height: 350px;
    max-width: 300px;
    margin: 24px;
}
.portfolio-img {
    max-width: 100%;
}
.header {
    margin: 8px;
    line-height: 28px;
}
.header:nth-child(1) {
    justify-content: center;
    align-self: center;
    display: flex;
}
.header:nth-child(2) {
    justify-content: center;
    align-self: center;
    display: flex;
    color: #eb5858;
}
.header:nth-child(3) {
    justify-content: center;
    align-self: center;
    display: flex;
}
.pdescription {
    margin: 8px 16px;
    padding: 8px 12px;
    letter-spacing: 1.4px;
    font-size: 20px;
}

/* second container */
.portfolio-container-two {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5rem;
    margin-top: -40px;
}
.portfolio-description-two {
    max-width: 50%;
    font-size: 32px;
    font-weight: 525;
    letter-spacing: 1.5px;
}

/* third container */
.portfolio-container-three {
    padding: 24px;
    padding-bottom: 5rem;
}
.card-box {
    justify-content: center;
    align-items:stretch;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
}
.three-header {
    justify-content: center;
    align-items: center;
    display: flex;
}
.card {
    height: 400px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    margin: 1.35rem;
    color: #fff;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px #888888;
}
.image-container {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #fff;
}
.image-container img {
    overflow: hidden;
    height: 200px;
}
.card-content {
    height: 100%;
    width: 100%;
    padding: 8px 16px;
    margin-top: 0.3rem;
    background:  #15172b;
}
.card-content h3 {
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}
.card-body {
    margin-bottom: 20px;
}
.card-body p {
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}
.card-title {
    margin-bottom: 0.5rem;
}
.card-item {
    justify-content: center;
    display: flex;
}
.card-btn {
    justify-content: center;
    display: flex;
}
.card-link {
    text-decoration: none;
}

/* fourth container */
.portfolio-container-four {
    padding: 24px;
}
.fourth-header {
    justify-content: center;
    align-items: center;
    display: flex;
}
.list-items {
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    display: grid;
}
.link-list {
    text-decoration: none;
}

@media screen and (max-width:991px) {
    
    .portfolio-container {
        max-width: 100%;
        flex-basis: 100%;
    }
    .card-box {
        justify-content: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        padding-left: 16rem;
    }
    .portfolio-container-four {
        max-width: 100%;
        flex-basis: 100%;
    }
    .list-items {
        justify-content: center;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 952px) {
    .card-box {
        padding-left: 14rem;
    }
}
@media screen and (max-width: 925px) {
    .card-box {
        padding-left: 12rem;
    }
}
@media screen and (max-width:768px) {
    .portfolio-container {
        max-width: 100%;
        flex-basis: 100%;
    }
    .card-box {
        justify-content: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
    }
}